
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;

}
img{
    display: block;
}

.section-titel {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;

}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* -----------------------HEADER------------------------- */
.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17 ;
    letter-spacing: 0.03em;
    text-align: left;
    margin-right: 76px;
}
.accent {
    color: #2E2F42;
}

.navigation {
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    gap: 40px;
}
.nav-iteam {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}

.nav-iteam:hover,
.nav-iteam:focus {
    color: #404BBF;
}
.studio:active::after{
    content: "";
    display: block;
    color: #404BBF;
    border-radius: 2px;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list{
    display: flex;
    gap: 40px;
   
}
.address-iteam{
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.phone-number{
    color: inherit;
}

.phone-number:hover{
    color: #404BBF;
}
.email:hover {
    color: #404BBF;
}

/* ------------------------------------------------ */

/* -------------------------HERO----------------------- */
.section-hero {
    background-color: #2E2F42;
    background-image: linear-gradient
    (to bottom, rgba(46, 47, 66, 0.7)),
    url(./images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #ffffff ;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 188px 0;
}

.hero-titel{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;  
    margin-left: auto;
    margin-right: auto;
}
.button-order{
    color: inherit;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}
.button-order:hover,
.button-order:focus {
    background-color: #404BBF;
}
/* ------------------------------------------------ */

/* -----------------------SECTION-FEATURES------------------------- */
.features-list{
    display: flex;
    gap: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-features {
    color: #434455;
    font-family: "Roboto",sans-serif;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 120px 0;
}

.icon-features{
        gap: 0px;
        border: 1px solid #8E8F99;
        border-radius: 4px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background-color: #F4F4FD;
        padding: 24px 100px;
        margin-bottom: 8px;
}
.features-titel{
    font-family:"Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-iteam{
    display: block;
    width: calc((100% - 72px) / 4);
}
.features-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ------------------------------------------------ */

/* -----------------------SECTION-TEAM------------------------- */
.section-team{
    background-color: #F4F4FD;
    padding: 120px 0
}

.team-list{
    display: flex;
    margin-top: 72px;
    gap: 24px;
}

.team-iteam{
    text-align: center;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16),  
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.worker{
    padding: 32px 0;
}

.team-titel{
    line-height: 1.2;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px
}
.team-text{
    line-height: 1.5;
    text-transform: capitalize;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.social-link {
    display: flex;
    gap: 24px;
    margin-left: auto;
}


.social-link .icon-social {
    fill: #fff;
display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    background-color: #4D5AE5;
    border-radius: 50%;
    margin-bottom: 32px;
    }

.social-link .icon-social:hover {
    background-color: #404BBF;
}

/* ------------------------------------------------ */

/* -----------------------SECTION-PORTFOLIO------------------------- */
.section-portfolio{
    padding: 120px 0 120px 0;
}
.portlofio-list{
    display: flex;
    margin-top: 72px;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-iteam {
    text-align: left;
    text-transform: capitalize;
    color: #434455;
    font-family: "Roboto", sans-serif;
    width: calc((100% - 48px) / 3);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    position: relative;
    overflow: hidden;
}
.overlay{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding-bottom: 164px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;

    transform: translateX(-100%);

}

.portfolio-iteam:active{
    transform: translateX(0);
}

.iteam-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px
}


.portfolio-titel{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px
}

.portfolio-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-top: 8px;

    }
/* ------------------------------------------------ */

/* -----------------------FOOTER------------------------- */
.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0
}
.footer-iteams{
    display: flex;
    gap: 120px;
}

.footer-container{
    margin-left: 156px;
    min-width: 264px;
}
.accent-footer {
    color: #F4F4FD;
}
.logo-footer{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text{
    max-width: 264px;
}

.social-link-titel{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.container-social-links .icon-social:hover{
    background-color: #31D0AA;
}

/* ------------------------------------------------ */